<section class="report-container">
            <div class="report-card">
                <div class="report-header">
                    <p>Grupo: <span id="student-group">**</span></p>
                    <p>Nombre: <span id="student-name">**</span></p>
                </div>

                <table class="grades-table">
                    <thead>
                        <tr>
                            <th>Materia</th>
                            <th>Calificación</th>
                        </tr>
                    </thead>
                    <tbody id="cont-calificaciones">
                        <tr>
                            <td>Español:</td>
                            <td class="grade-value">10</td>
                        </tr>
                        <tr>
                            <td> Matematicas:</td>
                            <td class="grade-value">10</td>
                        </tr>
                        <tr>
                            <td> Ciencias:</td>
                            <td class="grade-value">10</td>
                        </tr>
                        <tr>
                            <td> Geografía:</td>
                            <td class="grade-value">10</td>
                        </tr>
                        <tr>
                            <td> Historia:</td>
                            <td class="grade-value">10</td>
                        </tr>
                        <tr>
                            <td> Formación Civica y ética:</td>
                            <td class="grade-value">10</td>
                        </tr>
                        <tr>
                            <td> Ingles:</td>
                            <td class="grade-value">10</td>
                        </tr>
                        <tr>
                            <td> Artes:</td>
                            <td class="grade-value">10</td>
                        </tr>
                        <tr>
                            <td> Fortalecimiento de Español:</td>
                            <td class="grade-value">10</td>
                        </tr>
                        <tr>
                            <td> Fortalecimiento de Matematicas:</td>
                            <td class="grade-value">10</td>
                        </tr>
                        <tr>
                            <td> Tecnologia:</td>
                            <td class="grade-value">10</td>
                        </tr>
                    </tbody>
                </table>