<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificaciones del Alumno</title>
    <link rel="stylesheet" href="../static/core.css">
</head>

<body>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 1600 900" preserveAspectRatio="xMidYMax slice">
        <defs>
            <linearGradient id="bg">
                <stop offset="0%" style="stop-color:rgba(130, 158, 249, 0.06)"></stop>
                <stop offset="50%" style="stop-color:rgba(76, 190, 255, 0.6)"></stop>
                <stop offset="100%" style="stop-color:rgba(115, 209, 72, 0.2)"></stop>
            </linearGradient>
            <path id="wave" fill="url(#bg)" d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
    s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
        </defs>
        <g>
            <use xlink:href='#wave' opacity=".3">
                <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="10s" calcMode="spline" values="270 230; -334 180; 270 230" keyTimes="0; .5; 1" keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
            </use>
            <use xlink:href='#wave' opacity=".6">
                <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="8s" calcMode="spline" values="-270 230;243 220;-270 230" keyTimes="0; .6; 1" keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
            </use>
            <use xlink:href='#wave' opacty=".9">
                <animateTransform attributeName="transform" attributeType="XML" type="translate" dur="6s" calcMode="spline" values="0 230;-140 200;0 230" keyTimes="0; .4; 1" keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0" repeatCount="indefinite" />
            </use>
        </g>
    </svg>

    <header class="header-calificaciones">
        <div class="logo-escuela">
            <img src="../static/images/image_1.png" alt="Logo Escuela">
        </div>
        
        <div class="nav-buscador">
            <a href="../index.html" class="btn-inicio">Inicio</a>
            <form class="form-busqueda">
                <label for="codigoAlumno" class="label-codigo">Código:</label>
                <input type="text" id="codigoAlumno" name="codigoAlumno" placeholder="123456789">
                <button type="button" id="btnBuscarCodigo">Buscar</button>
            </form>
        </div>

        <div class="logo-mapa">
            <img src="../static/images/noto_world-map.png" alt="Icono Mapa">
        </div>
    </header>

    <main class="main-calificaciones">
            <section class="boleta-container">
            <div class="boleta-card">
                <div class="boleta-header">
                    <p>Grupo: <strong><span id="student-grade"></span>°<span id="student-group"></span></p></strong>
                    <p>Nombre: <strong><span id="student-name"></span></p></strong>
                </div>

                <table class="tabla-boleta">
                    <thead>
                        <tr>
                            <th>Materia</th>
                            <th>Calificación</th>
                        </tr>
                    </thead>
                    <tbody id="cont-calificaciones">
                        <tr class="grade-value">
                            <td>Español:</td>
                            <td id="español"></td>
                        </tr>
                        <tr class="grade-value">
                            <td> Matematicas:</td>
                            <td id="matematicas"></td>
                        </tr>
                        <tr class="grade-value">
                            <td> Ciencias:</td>
                            <td id="ciencias"></td>
                        </tr>
                        <tr class="grade-value">
                            <td> Geografía:</td>
                            <td id="geografia"></td>
                        </tr>
                        <tr class="grade-value">
                            <td> Historia:</td>
                            <td id="historia"></td>
                        </tr>
                        <tr class="grade-value">
                            <td> Formación Civica y ética:</td>
                            <td id="fcye"></td>
                        </tr>
                        <tr class="grade-value">
                            <td> Ingles:</td>
                            <td id="ingles"></td>
                        </tr>
                        <tr class="grade-value">
                            <td> Artes:</td>
                            <td id="artes"></td>
                        </tr>
                        <tr class="grade-value">
                            <td> Fortalecimiento de Español:</td>
                            <td id="fesp"></td>
                        </tr>
                        <tr class="grade-value">
                            <td> Fortalecimiento de Matematicas:</td>
                            <td id="fmate"></td>                            
                        </tr>
                        <tr class="grade-value">
                            <td> Tecnologia:</td>
                            <td id="tecnologia"></td>
                        </tr>
                    </tbody>
                </table>
        </section>
    </main>

    <footer>
    <div class="tutora-info">
        <h2>Tutora</h2>
        <p>Prof. Alejandra Vazquez Cruz</p>
    </div>
    </footer>

    <script type="module" src="../static/code.js"></script>

</body>
</html>
